---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Stratify">
    <Navbar />
    <main class="w-full max-w-4xl mx-auto h-full flex-1 flex flex-col items-center pt-12">
        <a
            href="#"
            class="flex flex-col justify-center bg-red-400 w-fit items-center"
        >
            Merge playlists
            <span
                class="material-symbols-outlined rotate-90"
                style="font-size: 3rem;"
            >
                merge
            </span>
        </a>
    </main>
</Layout>
