---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Stratify">
    <Navbar />
    <main class="w-full max-w-4xl mx-auto h-full flex-1 flex flex-col items-center pt-12">
        <a
            href="/merge"
            class="flex flex-col justify-center bg-green-400 hover:bg-green-200 w-fit text-xl items-center p-8 rounded-lg"
        >
            Merge playlists
            <span
                class="material-symbols-outlined rotate-90"
                style="font-size: 3rem;"
            >
                merge
            </span>
        </a>
    </main>
</Layout>
