---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
	<Navbar />
	<main class="w-full max-w-4xl mx-auto h-full flex-1 flex flex-col items-center justify-center">
		<h1 class="text-4xl font-bold">Welcome</h1>
		<p class="m-3"> Merge, create, and populate multiple playlists at once! </p>
		<button id="loginBtn" class="m-4 w-48 h-14 text-sm text-white font-bold rounded-full bg-green-900 hover:bg-green-700 hover:cursor-pointer">LOGIN WITH SPOTIFY</button>
	</main>
</Layout>

<script src="../scripts/login/login.ts"></script>