---
import User from "./User.astro";
---

<header class="w-full mx-auto">
    <nav class="w-full flex justify-between items-center py-4 md:px-8 px-4">
        <div class="md:text-4xl text-2xl font-bold mr-4">
            <a href="/dashboard">Tracktician</a>
            
        </div>
        <div>
            <User />
        </div>
    </nav>
</header>

