---
import User from "./User.astro";
---

<header class="w-full max-w-4xl mx-auto">
    <nav class="w-full flex justify-between items-center py-4 px-8">
        <div class="text-4xl font-bold">
            <a href="/">Stratify</a>
            
        </div>
        <div>
            <!-- <User /> -->
        </div>
    </nav>
</header>

