---

---

<div
    id="user"
    class="flex items-center bg-green-900 rounded-full pr-4 p-px text-white"
>
    <img
        id="profilePicture"
        class="w-10 h-10 rounded-full object-cover mr-4"
        src="https://placehold.co/64"
        alt="User profile picture"
    />

    <p id="userName" class="md:text-base text-sm">Not logged in</p>
</div>

<script src="../scripts/user/getUser.ts"></script>
